---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCIE = [
  {
    date: "Actualmente...",
    title: "Analista Programador en Aplicaciones Web y de Escritorio",
    description:
      "Actualmente, soy un desarrollador junior con un enfoque en la creación y desarrollo de aplicaciones web utilizando MERN stack (MongoDB, Express.js, React.js, Node.js), así como otros lenguajes y tecnologías como JavaScript, HTML, CSS, Java, MongoDB y MySQL. Me apasiona construir soluciones innovadoras y funcionales para diversas plataformas",
  },
  {
    date: "Noviembre 2024",
    title: "Gradudado de Programador",
    description:
      "Graduado del Centro Educativo Técnico Laboral KINAL, continúo expandiendo mis habilidades y conocimientos para afrontar nuevos desafíos en el campo del desarrollo web. ",
  },
  {
    date: "Junio 2022 - 2023",
    title: "Estudiante en KINAL",
    description:
      "Durante mi formación como estudiante de programación, he estado enfocado en aprender los conceptos básicos del desarrollo de software. He adquirido conocimientos fundamentales en lenguajes de programación como JavaScript, HTML y CSS, así como en el uso de herramientas básicas de desarrollo. ",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
